# This is a simple example to check file upload using google colab and pandas data analysis


# What is pandas-python? Introduction and Installation Pandas is python module that makes data science easy and effective

 ###  Weather dataset

  #### Questions?

  ##### 1. What was the maximum temparature in new york in the month of january?

  ##### 2. On which days did it rains?

  ##### 3. What was the average speed of wind during the month?

## First we will see in python code

In [0]:
## Let us import data file from google colab upload

## First  method 
## directly importing from github. 

import pandas as pd

# url = 'copied_raw_GH_link'
# df1 = pd.read_csv(url) ## This line directly imports code from github using url.

In [6]:
## Second Method Using colab upload

from google.colab import files
uploaded = files.upload()

Saving nyc_weather.csv to nyc_weather.csv

In [8]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['nyc_weather.csv'])) ## Read using IO Byte Stream 

df2.head()

        EST  Temperature  DewPoint  ...  CloudCover  Events  WindDirDegrees
0  1/1/2016           38        23  ...           5     NaN             281
1  1/2/2016           36        18  ...           3     NaN             275
2  1/3/2016           40        21  ...           1     NaN             277
3  1/4/2016           25         9  ...           3     NaN             345
4  1/5/2016           20        -3  ...           0     NaN             333

[5 rows x 11 columns]

In [11]:
#get the maximum temparature 
df2['Temperature'].max()

50

In [13]:
#to know which day it rains
df2['EST'][df2['Events'] == 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [14]:
#3. average wind speed
df2['WindSpeedMPH'].mean()

6.892857142857143